[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
markdown = "*"
mkdocs = "*"
mkdocs-material-extensions = "*"
pygments = "*"
pymdown-extensions = "*"
babel = "*"
paginate = "*"
regex = "*"
requests = "*"
mkdocs-minify-plugin = "*"
mkdocs-material = "*"
